<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Patrick_Localization.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>12FA3AC21FFF96750055C6F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12FA3AD61FFF96750055C6F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12FA3AE11FFF96750055C6F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
